        /* CSS for the to-do list application */
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            font-family: calibri;
        }

        main{
            width: 100vw;
            margin: auto;
        }

        h1 {
            text-align: center;
        }

        form {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        label {
            margin-right: 10px;
        }

        #task-list {
            list-style: none;
            padding: 0;
            width: 80%;
            margin: 4vh auto 0;
        }

        .clear_list{
            position: absolute;
            top: 16.5vh;
            left: 10vw;
        }
        #task{
            height: 10vh;
            width: 70vw;
            margin-right: 1vw;
        }
        #task_btn{
            height: 10vh;
            width: 10vw;
        }

        #task-list li {
            padding: 1%;
            margin-bottom: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            flex-flow: row;
            justify-content: space-between;
            text-transform: capitalize;
        }
        #task-list li span:first-child{
            width: 70%;
        }
        
        .divButtons{
            display: flex;
            justify-content: space-between;
            border: 1px solid grey;
            width: 25%;
        } 

        .button_li{       
            display: block;
            text-align: center;
            cursor: pointer;
            padding: 1%;
            width: 100%;
            user-select: none;
        }


        .btnRemove{
            display: block;
            text-align: center;
            border: 1px solid rgb(0, 0, 0);
            background-color: rgb(153, 0, 0);
            width: 20%;
            cursor: pointer;
            user-select: none;
        }
        .btnRemove:hover{
            background-color: rgb(209, 0, 0);
        }